.DS_Store
**/node_modules
**/.browser_modules
**/dist
**/lib
**/src-gen
**/gen-webpack.config.js
**/gen-webpack.node.config.js
**/plugins
**/tsconfig.tsbuildinfo
*.log
**/.yalc*
/applications/data/backend/*
/applications/data/frontend/*
!/applications/data/backend/keymaps.json
!/applications/data/backend/settings.json
!/applications/data/backend/tasks.json